.container {
  z-index: 1;
  @include SecMargin();
  margin-inline: auto;
  max-width: 100rem;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-inline: 10em;
  &__category-name {
    margin-bottom: 10rem;
    h1 {
      @include fontStyle(4.2rem, 400, 6.7rem);
      text-transform: capitalize;
    }
  }
  &__card-list {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    &__containercard-front {
      @include flexCenter(column);
      align-items: stretch;
      position: relative;

      & > * {
        padding: 1.6rem;
      }

      & .unavailable {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        opacity: 50%;

        & h1 {
          position: absolute;
          top: 50%;
          left: 50%;
          @include fontStyle(2.4rem, 400, 2.4rem);
          color: hsl(231, 6%, 50%);
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          user-select: none;
        }
      }

      &-card-header {
        position: relative;
        padding-top: 0.6rem;

        & h1 {
          @include fontStyle(1.8rem, 300, 2.8rem);
        }
        & P {
          @include fontStyle(1.8rem, 500, 2.8rem);
        }

        & .cart-icon {
          display: none;
          position: absolute;
          background-color: $greenColor;
          border-radius: 50%;
          padding: 0;
          @include pionter();
          right: 3rem;
          top: -4rem;
          transition: all 0.18s;

          &:active {
            transform: scale(0.9);
            box-shadow: 0 1rem 0.5rem rgba(141, 143, 154, 0.2);
          }
          & img {
            max-width: 2rem;
            padding: 1.4rem;
          }
        }
      }
    }

    &__containercard-back {
      min-height: 4rem;
      max-width: 35em;
      gap: 1rem;
      border: none;
      border-radius: 0.2em;
      &:hover {
        @extend .cart-btn-hover;
      }
      &::backdrop {
        background: rgba(0, 0, 0, 0.15);
      }
      & > * {
        padding: 0 1rem;
      }
      & p.btn {
        position: absolute;
        margin: 0;
        border: 0;
        padding: 0;
        background: transparent;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        right: 1.5em;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        @include pionter();
        transition: all 150ms;

        .icon-cross {
          margin: 0;
          padding: 0;
          border: 0;
          background: none;
          position: relative;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          &:before,
          &:after {
            content: "";
            position: absolute;
            top: 1.6em;
            left: 0;
            right: 0;
            height: 0.35rem;
            background: black;
            border-radius: 2px;
          }

          &:before {
            transform: rotate(45deg);
          }

          &:after {
            transform: rotate(-45deg);
          }

          &:hover,
          &:focus {
            opacity: 0.2;
          }
        }
      }

      &__header {
        @include flexCenter(row);
        gap: 1.5rem;
        &-text {
          flex: 0.35;

          & h1 {
            @include fontStyle(1.8rem, 300, 2.8rem);
          }
          & P {
            @include fontStyle(1.8rem, 500, 2.8rem);
          }
        }

        &-img {
          flex: 1;
        }
      }
      &__all-attr {
        @include flexCenter(column);
        gap: 1.5em;
        &-swatch {
          width: 100%;
          @include flexCenter(column);
          align-items: flex-start;
          gap: 0.5em;
          &__items {
            border: 1px solid rgba(204, 204, 204, 0.6);
            border-radius: 2px;
            display: inline-block;
            width: 70%;
            margin: 1em auto;
            text-align: center;
            label {
              display: inline-block;
              position: relative;
              margin: 0 0.2em;
              @include pionter();
              & span {
                display: block;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                width: 2em;
                border-radius: 50%;
                height: 2em;
                margin: 0.5em 1em;
                box-shadow: 2px 2px 2px #666;
                @include pionter();
              }

              & input {
                -webkit-appearance: none;
              }
              & input:checked + span {
                @extend .checked-swatch;
              }
            }
          }
        }
        &-text {
          width: 100%;
          @include flexCenter(column);

          &__items {
            border-radius: 2px;

            border: 1px solid rgba(204, 204, 204, 0.6);
            display: inline-block;
            width: 80%;
            margin: 0em auto;
            text-align: center;

            label {
              display: inline-block;
              position: relative;
              margin: 0 2px;
              @include pionter();
              & span {
                display: block;
                padding: 0.5em;
                margin: 0 0.7em 0.7em;
                border-radius: 0.1em;
                @include fontStyle(1.3em, 400, 1.3em);
                border: 1px solid rgba(0, 0, 0, 0.4);
              }

              & input {
                -webkit-appearance: none;
              }
              & input:checked + span {
                @extend .checked-text;
              }
            }
          }
        }

        & legend {
          @include fontStyle(1.7em, 400, 1.7em);
        }
      }

      &__count {
        @include flexCenter(row);
        justify-content: space-between;
        width: 70%;
        align-items: center;
        margin: 1.5em auto;
        & p {
          width: 2.5rem;
          @include fontStyle(2.5rem, 400, 2.5rem);
          text-align: center;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          &:nth-child(odd) {
            border: 1px solid $fontColor;
            @include pionter();
            border-radius: 50%;
          }

          &:nth-child(odd):active {
            background-color: rgba(black, 0.7);
            color: white;
            transform: scale(0.9);
            box-shadow: 0 1rem 0.5rem rgba(141, 143, 154, 0.2);
          }
        }
      }
      &__btns {
        @include flexCenter(row);
        margin: 4em 0 0;
        & p {
          padding: 1.6rem 2.5rem;
          color: white;
          background: $greenColor;
          @include fontStyle(1.4rem, 600, 1.6rem);
          border: solid 1px $greenColor;
          @include pionter();
          border-radius: 0.2em;
        }
        & p:nth-child(1) {
          color: $fontColor;
          background: white;
          border: solid 1px;
        }
      }
    }
  }
}
