.container {
  z-index: 1;
  @include SecMargin();
  margin-inline: auto;
  //   margin-top: ;
  max-width: 100rem;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-inline: 10em;
  &__category-name {
    margin-bottom: 10rem;
    h1 {
      @include fontStyle(4.2rem, 400, 6.7rem);
      text-transform: capitalize;
    }
  }
  &__card-list {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    &__containercard {
      @include flexCenter(column);
      align-items: stretch;
      //   gap: 1.6rem;

      & > * {
        padding: 1.6rem;
      }

      &-card-header {
        position: relative;
        padding-top: 0.6rem;

        & .cart-icon {
          display: none;
          position: absolute;
          background-color: $greenColor;
          border-radius: 50%;
          padding: 0;
          right: 3rem;
          top: -4rem;
          & img {
            max-width: 2rem;
            padding: 1.4rem;
          }
        }
      }
    }
  }
}
