.currenciesPanel {
  padding: 2rem;
  background-color: white;
  gap: 2rem;
  filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
  position: absolute;
  top: 6.5rem;
  left: calc(100% - 11.5rem);

  &__curriencies-name {
    @include fontStyle(1.8rem, 500, 3rem);
    @include pionter();
  }
}
