.navbar {
  min-height: 8.7rem;
  position: relative;
  @include flexCenter(row);
  margin: 0 auto 8em;
  max-width: 100rem;
  justify-items: stretch;
  align-items: stretch;

  width: 100%;
  top: 0;
  margin-right: auto;

  z-index: 2;

  &__categories {
    @include flexCenter(row);
    gap: 1.6rem;
    align-items: stretch;

    &-name {
      @include fontStyle(1.6rem, 600, 2rem);
      align-self: center;
      cursor: pointer;
      padding: 3rem 0;
    }
  }

  &__logo {
    @include flexCenter(row);
  }

  &__actions {
    // position: relative;
    @include flexCenter(row);
    gap: 1em;

    &-currClosed {
      & img {
        width: 100%;
      }
    }
    &-blackCart {
      & img {
        width: 20px;
      }
    }
  }
}

//  cart__cart-menue-card1__size-buttons

.cart {
  display: none;
  width: clamp(30rem, 27rem, 25rem);
  text-align: start;
  position: absolute;
  top: 8.7rem;
  left: calc(100% - clamp(30rem, 27rem, 25rem));
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  padding: 1.6rem;
  //
  z-index: 2;
  // display: none;

  &__header {
    margin: 1.5rem 0;
  }

  &__product {
    @include flexCenter(column);
    gap: 4rem;
    margin: 2.5rem 0;

    &-cart__cart-menu {
      gap: 1rem;
      display: grid;
      justify-items: stretch;
      justify-content: center;

      grid-template-columns: 1fr 0.2fr 0.7fr;

      &__card1 {
        @include flexCenter(column);
        align-items: flex-start;
        justify-content: space-around;
        & h3 {
          @include fontStyle(1.6rem, 300, 2.5rem);
        }
        & p {
          @include fontStyle(1.6rem, 500, 2.5rem);
        }
        &__size-btn {
          @include flexCenter(row);
          gap: 1rem;
          & p {
            padding: 0.1rem 0.6rem;
            border: 1px solid $fontColor;
            aspect-ratio: 1/1;
            cursor: pointer;

            @include fontStyle(1.4rem, 400, 2.2rem);
          }
          & p:nth-child(2) {
            border: 1px solid $btnColorLight;
            background-color: lighten($btnColorLight, $amount: 25);
            color: $btnColorLight;
          }
        }
      }

      &__pieces-btn {
        @include flexCenter(column);

        & p {
          padding: 0.1rem;

          aspect-ratio: 1/1;
          text-align: center;
          @include fontStyle(1.6rem, 500, 2.5rem);

          &:nth-child(odd) {
            border: 1px solid $fontColor;
            cursor: pointer;
          }
        }
      }
    }
  }

  &__amount {
    @include flexCenter(row);
    margin: 1.5rem 0;
    & h2 {
      @include fontStyle(1.6rem, 500, 1.8rem);
    }
    & p {
      @include fontStyle(1.6rem, 700, 2.5em);
    }
  }
  &__btns {
    @include flexCenter(row);
    & p {
      padding: 1.6rem 3.2rem;
      color: white;
      background: $greenColor;
      @include fontStyle(1.4rem, 600, 1.6rem);
      border: solid 1px $greenColor;
      cursor: pointer;
    }
    & p:nth-child(1) {
      padding: 1.6rem 3.2rem;
      color: $fontColor;
      background: white;
      border: solid 1px;
    }
  }
}
// cart__cart-menu__product-cart__cart-menu_pieces-btn
